/* For mobile */

/* carta responsive */
.main-card {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.second-card {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Header */
.brand {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-name {
    text-align: center;
    margin-bottom: 5px;
}

.header {
    background-color: white; 
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

.header-boy {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}
.user-name {
    display: none;
    margin-right: 20px;
}

/* Clases genéricas como listo sin estilo o texto centrado */
.no-list{
  list-style: none;
}

.text-center {
    text-align: center;
}

/* Tamaños de fuente */
.size1 {
    font-size: 1.5em;
}
.size2 {
    font-size: 1.2em;
}
.title {
    text-align: center;
    padding-top: 30px;
}

.subtitle {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
/* Logo */
.logo-img {
    display: block;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.game-img{
    display: block;
    max-width: 50px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.game-img-big {
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.boy-img {
    width: 50px;
    height: 50px;
}

/* Flecha right-arrow & back-arrow */
.arrow {
    border: 2px solid white;
    border-radius: 5px;
}
.arrow:hover, .arrow:active {
    box-shadow: 0px 0px 10px gray;
}
.arrow-back {
    position: absolute;
    left: 50px;
    top: 50px;   
}
.arrow-left-img {
    transform: scale(-1, 1.4);
    width: 30px;
    height: 30px;
}

/* Formulario */
.form {
    justify-content: space-around;
    width: 70%;
    margin: 4% 15%;
}

.input-text {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    padding: 5px;
}

/* Navbar */
.navbar {
    background-color: gainsboro;
}

/* #logo{
    display: flex;
    justify-content: center;
}

#logo img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

#logo a{
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 5%;
}

.img-index {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;  
}

.img-index img{
    max-width: 100%;
    width: 100%;
    transition: 1s ease;
}

.img-index img:hover{
    max-width: 100%;
    width: 100%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
} */




/* prototype/login/i */

/* .img-row{
    display: flex;
    justify-content: end;
}

.img-row img{
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-right: 15%;
    transition: 1s ease;
    
}
.img-row img:hover{
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-right: 15%;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    
} */

/* button */
.button-a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: none;

    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.button-a-small {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: none;

    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.button-cargar-mas {
    width: 120px;
    font-size: 0.8em;
    position: static;
    background-color: rgba(211,195,255,0.53);
    margin-left: auto;
    margin-right: auto;
}

.button-regresar {
    width: 100px;
    position: static;
    background-color: rgba(211,195,255,0.53);
    margin-left: auto;
    margin-right: auto;
}

/* .button-regresar {
    position: absolute;
    background-color: rgba(211,195,255,0.53);
    bottom: 50px;
    right: 50px;
} */

/* Responsive design */
/* For mobile */

/* For tablets: */
@media only screen and (min-width: 600px) {}

/* For desktop */
@media only screen and (min-width: 768px) {
    .main-card{
        width: 600px;
        height: 90vh;
        margin-top: 5vh;
        border: 1px solid black;
        border-radius: 50px;
    }
    .second-card{
        width: 94vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border: 1px solid black;
        border-radius: 50px;
    }
    .user-name {
        display: inline;
    }
    .button-regresar {
        position: absolute;
        background-color: rgba(211,195,255,0.53);
        bottom: 50px;
        right: 50px;
    }
    .button-cargar-mas {
        position: absolute;
        background-color: rgba(211,195,255,0.53);
        bottom: 50px;
        right: 180px;
    }
}
/* @media (max-width:374px){
    #logo img{
        max-width: 106px;
        max-height: 106px;
    }

    #logo a{
        max-width: 32px;
        max-height: 32px;
    }
    
    .img-index img{
        max-width: 106px;
        max-height: 106px;
    }
    
    .img-row img{
        max-width: 106px;
        max-height: 106px;
    }
}

@media (min-width:375px){
    #logo img{
        max-width: 125px;
        max-height: 125px;
    }

    #logo a{
        max-width: 32px;
        max-height: 32px;
    }
    
    .img-index img{
        max-width: 125px;
        max-height: 125px;
    }
    
    .img-row img{
        max-width: 125px;
        max-height: 125px;
    }
}

@media (min-width:425px){
    #logo img{
        max-width: 141.6px;
        max-height: 141.6px;
    }

    #logo a{
        max-width: 48px;
        max-height: 48px;
    }
    
    .img-index img{
        max-width: 141.6px;
        max-height: 141.6px;
    }
    
    .img-row img{
        max-width: 141.6px;
        max-height: 141.6px;
    }
}

 @media (min-width:768px){
    #logo img{
        max-width: 256px;
        max-height: 256px;
    }
    
    #logo a{
        max-width: 48px;
        max-height: 48px;
    }

    .img-index img{
        max-width: 256px;
        max-height: 256px;
    }
    
    .img-row img{
        max-width: 256px;
        max-height: 256px;
    }
}

@media (min-width:1024px){
    #logo img{
        max-width: 341.3px;
        max-height: 341.3px;
    }
    
    #logo a{
        max-width: 64px;
        max-height: 64px;
    }

    .img-index img{
        max-width: 341.3px;
        max-height: 341.3px;
    }
    
    .img-row img{
        max-width: 341.3px;
        max-height: 341.3px;
    }
}

@media (min-width:1440px){
    #logo img{
        max-width: 480px;
        max-height: 480px;
    }
    
    #logo a{
        max-width: 64px;
        max-height: 64px;
    }
    
    .img-index img{
        max-width: 480px;
        max-height: 480px;
    }
    
    .img-row img{
        max-width: 480px;
        max-height: 480px;
    }
}   */
